# Игнорировать бинарные файлы
*.exe
*.dll
*.so
*.dylib

# Игнорировать каталоги с бинарными файлами
/bin/
/obj/

# Игнорировать кэш и временные файлы
.DS_Store
.cache/
.idea/
*.swp

# Игнорировать файлы конфигурации
.env
config.yaml

# Игнорировать исходники компиляторов Go
/vendor/
/go.sum

# Игнорировать логи и отчеты о покрытии кода
/coverage.txt
/logs/
